@model systems.Models.FacultyProfileModule

@{
    ViewBag.Title = "Manage Documents";
}

<h2>AddFileModule</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ProfileId)
    @Html.HiddenFor(model => model.FacultyPageId)
    @Html.HiddenFor(model => model.ModuleType)
    @Html.HiddenFor(model => model.DisplayOrder)

    <fieldset>
        <legend>FacultyProfileModule</legend>
        <br />
        <br />
    <input type="file" name="FileUpload" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
        <br />
        <br />

        <p>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
