@model systems.Models.FacultyProfileModule

<h2>@Model.ModuleTitle</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.FacultyProfileModuleId)
    @Html.HiddenFor(model => model.ProfileId)
    @Html.HiddenFor(model => model.FacultyPageId)
    @Html.HiddenFor(model => model.ModuleType)
    @Html.HiddenFor(model => model.ModuleTitle)
    @Html.HiddenFor(model => model.ModuleData)
    @Html.HiddenFor(model => model.DisplayOrder)
    
    <fieldset>
        <legend></legend>
        <h3>Type:  @Model.ModuleType</h3>
        <h3>Data:</h3>
        <div>@Html.Raw(@Model.ModuleData)</div>

    </fieldset>
    <button class="delete-module ui-widget-header ui-corner-all" data-moduleid = "@Model.FacultyProfileModuleId">Delete</button>

    @Html.ActionLink("Cancel", "ManageModules", "FPIM", new { profileId = @Model.ProfileId}, new { @class = "ui-widget-header ui-corner-all" })
}
<script src="~/Scripts/appjs/index.js"></script>