@model systems.Models.FacultyProfile
@using systems.Helpers;
@{
    ViewBag.Title = "FacultyPage";
}
@{
  if ((ViewBag.Dept == "Env Studies -Writing Ctr") || (ViewBag.Dept == "writing"))
  {
      var wcHtml = "<div id='nav'>";
      var wcEndHtml = "</div>";
      var wcMenu = fns.HTMLFile("/writingprogram/includes/col.html");
      HtmlString wcMenuHtml = new HtmlString(wcHtml + wcMenu + wcEndHtml);
      @wcMenuHtml;
  }
}
@{
  HtmlString header = new HtmlString(fns.FacultyPageHeading(ViewBag.userid,ViewBag.fname,ViewBag.lname,ViewBag.dept));
  @header
}
<!--  Nav Bar -->
<div id="faculty-pages-div">
@{
  if (Model.FacultyPages.Count > 1)
  {
    foreach (var page in Model.FacultyPages)
    {
      @Html.ActionLink(@page.PageTitle,"ViewFacultyPage", "FPIM", new { profileId = @Model.ProfileId, pageID = @page.FacultyPageId}, new { @class = "pageLink", profileId = @page.FacultyPageId, data_pageid=@page.FacultyPageId, data_pagetitle=@page.PageTitle})
      @Html.Raw(" | ")
    }
  }
}
</div>

  @foreach (var page in Model.FacultyPages.Where(m => m.FacultyPageId == ViewBag.PageId))
  {
      if (page.PageTitle != "Main")
      {
         <h2>@page.PageTitle</h2>
      }
  }
    <table id="tblModule" class="tblStyle">
        <!-- Get the page-->
        @{
         foreach (var page in Model.FacultyPages.Where(m => m.FacultyPageId == ViewBag.PageId))
         {
            foreach (var item in Model.FacultyProfileModules.Where(m => m.FacultyPageId == ViewBag.PageId).OrderBy(m => m.DisplayOrder))
            {

                var html = new HtmlString("");
                var content = "";

                switch (@item.ModuleType)
                {
                    case "HTML":
                        if (item.ModuleTitle != "" && item.ModuleTitle != null)
                        {
                            content = "<h4>" + item.ModuleTitle + "</h4>" + item.ModuleData;
                        }
                        else
                        {
                            content = item.ModuleData;
                        }
                        //html = new HtmlString("<hr class=clearer />" + @content);
                        html = new HtmlString(@content);
                        break;
                    case "GradModule":
                        // TODO: Graduate module.
                        content = fns.AdviseesModule(item.FacultyProfile.UserId, item.ModuleTitle);
                        //html = new HtmlString("<hr class=clearer />" + @content);
                        html = new HtmlString(@content);
                        break;
                    // TODO: Scopus feed module, other special modules?
                    default:
                        // Ignore anything else.
                        break;
                }
         @html;
        }
  }

  }
  </table>
@{
  if ((ViewBag.Dept == "Env Studies -Writing Ctr") || (ViewBag.Dept == "writing"))
  {
      HtmlString wcEndDivHtml = new HtmlString("</div>");
      @wcEndDivHtml;
  }
}
@section Style {
<style>
#pagelist li {
    list-style-type: none;
    float: left;
}
#faculty-pages-div {
    overflow: auto;
}

#pagelink a {
    font-weight: bold;
}
</style>
<link rel="stylesheet" href="http://www.esf.edu/css/main/core.css" type="text/css"/>
}
@section Scripts {
}


