@model systems.Models.FacultyPage

@{
    ViewBag.Title = "Add a Faculty Page";
    //Model.LinkURL = "http://www.esf.edu/faculty/" + Model.ProfileId + '/';
    Model.LinkURL = ViewBag.LinkURL;
}
<h2>Add a Faculty Page:  Add an additional link to the list on your home page.  </h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ProfileId)
    @Html.HiddenFor(model => model.LinkURL)

     <h3>Page Title</h3>
     <div class="editor-field">
         @Html.TextBoxFor(m=>m.PageTitle)
         @Html.ValidationMessageFor(model => model.PageTitle)
     </div>

     <h3>(Optional) Select Modules to add to your page:</h3>
    
    // Display modules on the left of the page, page on right
    <div id="select-modules" class="ui-widget ui-helper-clearfix">
         <ul id="available-modules" class="gallery  ui-helper-reset ui-helper-clearfix"></ul>
         <div id="new-page-droppable" class="ui-widget-content ui-state-default">
            <h4 class="ui-widget-header"><span class="ui-icon ui-icon-document">Page</span> Page</h4>
            <ul id="sortable-modules" class="gallery ui-helper-reset ui-helper-clearfix gallery">
                <li class="placeholder">Drop your modules here</li>
            </ul>
         </div>
     </div>

     <div id="add-page">
        <button class="add-page-preview ui-widget-header ui-corner-all" data-profileid = "@Model.ProfileId">Preview Page  </button>
        <button id="add-page-submit" class="add-page-submit ui-widget-header ui-corner-all" data-profileid = "@Model.ProfileId">Add Page  </button>

        @Html.ActionLink("Cancel", "ManagePages", "FPIM", new { profileId = Model.ProfileId}, null)

     </div>
    
      <div id="view-module"></div>
}

@section Style {
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/addPage")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/addPage")
}
